*{
  margin:0;
}
.App {
  background-color: #111;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ItemCard{
  display:inline-flex;
  margin-right: 10px;
  transition: transform 400ms;
}

.ItemCard:hover {
  transform: scale(1.10);
}
.ItemRow{
  padding-left:10px;
  overflow-y: hidden;
  overflow-x: scroll;
  
  color:#f4f4f2;
}

.banner{
  height:750px;
  object-fit: contain;
  color:white;
}
.bannerContent{
  padding-top: 200px;
  margin-left: 30px;
}

.bannerTitle{
  line-height:5rem;
  font-size:2.5rem;
}

.bannner_btn_section{
  padding:1rem 0;
}

.banner_btn{
  margin-right:10px;
  height:4rem;
  width:10rem;
  font-weight:bolder;
}

.bannerDetails{
  font-size: 1.5rem;
  max-width: 60%;
  display:inline-block;
}

.gradient{
  height:300px;
  background-image: linear-gradient(
    180deg,transparent,rgba(12, 12, 12, 0.6),#111
  );

}

.navitem{
  margin-right:15px;
  color:white;
}

.NavBar{
  background-color:transparent;
  color:white;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}